@define-color black #0f0f0f;
@define-color gray-0 #131414;
@define-color gray-1 #1D1F1E;
@define-color gray-2 #272A28;
@define-color gray-3 #3A3F3C;
@define-color gray-4 #585F5A;
@define-color gray-5 #6B746E;
@define-color gray-6 #878E7A;
@define-color gray-7 #999C8B;
@define-color gray-8 #B6B69A;
@define-color gray-9 #D8CCB4;
@define-color gray-10 #E3DAC9;
@define-color white #F9EEE5;
@define-color light-yellow #efbe71;
@define-color yellow #ef944d;

* {
  border-radius: 12px;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font propo;
  font-weight: 800;
  font-size: 14px;
  margin: 1px;
}

window#waybar {
  background-color: @black;
  border: 2px solid @black;
  border-radius: 0px;
}

#workspaces, #tags {
  border: none;
  border-bottom: 2px solid transparent;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button, #tags button {
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 8px;
  border-radius: 0;
  background: @gray-1;
  box-shadow: none;
  text-shadow: none;
  padding: 2 8px;
  margin: 2px;
  color: @light-yellow;
}

#workspaces button:hover, #tags button:hover {
  border: none;
  border-bottom: 2px solid transparent;
  background: @gray-3;
  font-weight: 600;
  color: @light-yellow;
}

#workspaces button.active, button.focused, #tags button.active, button.focused {
  border: none;
  border-bottom: 2px solid @yellow;
  background: @gray-2;
  color: @white;
  padding: 2 12px;
}

#workspaces button.active:hover, button.focused:hover, #tags button.active:hover, button.focused:hover {
  border: none;
  border-bottom: 2px solid @yellow;
  background: @yellow;
  color: @black;
  padding: 2 12px;
}

#clock, #cpu, #pulseaudio, #memory, #temperature, #battery, #backlight, #disk, #network, #power-profiles-daemon, #custom-power, #tray {
  border: none;
  border-bottom: 2px solid @white;
  background: @gray-1;
  box-shadow: none;
  text-shadow: none;
  padding: 0 12px;
  margin: 4px;
  color: @white;
}

#clock:hover, #cpu:hover, #pulseaudio:hover, #memory:hover, #temperature:hover, #battery:hover, #network:hover, #disk:hover, #backlight:hover, #power-profiles-daemon:hover, #custom-power:hover, #tray:hover {
  border: none;
  border-bottom: 2px solid @white;
  background: @gray-2;
  font-weight: 600;
  color: @white;
}
